@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
        if (User.Identity!.IsAuthenticated)
        {
            <h1 class="display-4">You are logged in</h1>
            <p>You can create new baskets, products and shops.</p>
        }
        else
        {
            <h1 class="display-4">Welcome</h1>
            <p>You have to <a asp-area="Identity" asp-page="/Account/Login">log in</a> before using this service.</p>
        }
    }
</div>
