@model ShoppingList.ViewModels.Product.ProductEditViewModel

@{
    ViewData["Title"] = "Edit a product";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="ProductId"/>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="link-dark" asp-action="Index">Back to products</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).on('change', '#DayInput', function(){
            let dayInput = document.getElementById("DayInput")
            let dateInput = document.getElementById("DateInput");

            if (dayInput.options[dayInput.selectedIndex].text != "None")
            {
                dateInput.disabled = true;
                dateInput.value = "";
            }
            else
                dateInput.disabled = false;
        });

        $(document).on('change', '#DateInput', function(){
            let dayInput = document.getElementById("DayInput")
            let dateInput = document.getElementById("DateInput");

            if (dateInput.value != "")
            {
                dayInput.disabled = true;
                dayInput.selectedIndex = 0;
            }
            else
                dayInput.disabled = false;
        });
    </script>
}
