@model ShoppingList.ViewModels.Basket.BasketCreateViewModel

@{
    ViewData["Title"] = "Create a new basket";
}

<h1>Create</h1>

<h4>Basket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DayEveryWeek" class="control-label"></label>
                <select asp-for="DayEveryWeek" asp-items="Html.GetEnumSelectList<DayOfWeek>()">
                    <option value="">None</option>
                </select>
                <span asp-validation-for="DayEveryWeek" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SpecificDate" class="control-label"></label>
                <input asp-for="SpecificDate" class="form-control" />
                <span asp-validation-for="SpecificDate" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="UserId" value="@Model.UserId"/>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to baskets</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
