@model ShoppingList.ViewModels.Basket.BasketCreateViewModel

@{
    ViewData["Title"] = "Create a new basket";
}

<h1>Create</h1>

<h4>Basket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductsList" class="control-label"></label>
                <select class="form-control" asp-for="SelectedProductsIds" asp-items="Model.ProductsList" multiple>
                </select>
                <span asp-validation-for="SelectedProductsIds" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ShopsList" class="control-label"></label>
                <select class="form-control" asp-for="SelectedShopId" asp-items="Model.ShopsList">
                    <option value="">None</option>
                </select>
                <span asp-validation-for="SelectedShopId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DaysOfWeek" class="control-label"></label>
                <select id="DayInput" class="form-control" asp-for="DayEveryWeek" asp-items="Model.DaysOfWeek">
                    <option value="">None</option>
                </select>
                <span asp-validation-for="DayEveryWeek" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SpecificDate" class="control-label"></label>
                <input id="DateInput" type="date" asp-for="SpecificDate" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="SpecificDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to baskets</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script type="text/javascript">
        $(document).on('change', '#DayInput', function(){
            let dayInput = document.getElementById("DayInput")
            let dateInput = document.getElementById("DateInput");

            if (dayInput.options[dayInput.selectedIndex].text != "None")
                dateInput.disabled = true;
            else
                dateInput.disabled = false;
        });

        $(document).on('change', '#DateInput', function(){
            let dayInput = document.getElementById("DayInput")
            let dateInput = document.getElementById("DateInput");

            if (dateInput.value != "")
                dayInput.disabled = true;
            else
                dayInput.disabled = false;
        });
    </script>
}
