@model ShoppingList.ViewModels.Basket.BasketEditViewModel

@{
    ViewData["Title"] = "Edit a basket";
}

<h1>Edit</h1>

<h4>Basket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductsList" class="control-label"></label>
                <select id="products" class="form-control" asp-for="SelectedProductsIds" asp-items="Model.ProductsList" multiple>
                </select>
                <span asp-validation-for="SelectedProductsIds" class="text-danger"></span>
                <a id="select-all" class="btn btn-secondary btn-sm">Select all</a> 
                <a id="clear" class="btn btn-secondary btn-sm">Clear</a> 
            </div>

            <div class="form-group">
                <label asp-for="ShopsList" class="control-label"></label>
                <select class="form-control" asp-for="SelectedShopId" asp-items="Model.ShopsList">
                    <option value="">None</option>
                </select>
                <span asp-validation-for="SelectedShopId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DaysOfWeek" class="control-label"></label>
                <select id="DayInput" class="form-control" asp-for="DayEveryWeek" asp-items="Model.DaysOfWeek">
                    <option value="">None</option>
                </select>
                <span asp-validation-for="DaysOfWeek" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SpecificDate" class="control-label"></label>
                <input id="DateInput" type="date" asp-for="SpecificDate" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="SpecificDate" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="BasketId"/>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="link-dark" asp-action="Index">Back to baskets</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).on('change', '#DayInput', function(){
            let dayInput = document.getElementById("DayInput")
            let dateInput = document.getElementById("DateInput");

            if (dayInput.options[dayInput.selectedIndex].text != "None")
                dateInput.disabled = true;
            else
                dateInput.disabled = false;
        });

        $(document).on('change', '#DateInput', function(){
            const dayInput = document.getElementById("DayInput")
            const dateInput = document.getElementById("DateInput");

            if (dateInput.value != "")
                dayInput.disabled = true;
            else
                dayInput.disabled = false;
        });

        $(document).on('click', '#clear', function(){
            const productOptions = document.querySelectorAll("#products option");
            for (const opt of productOptions)
            {
                opt.selected = false;
            }
        });

        $(document).on('click', '#select-all', function(){
            const productOptions = document.querySelectorAll("#products option");
            for (const opt of productOptions)
            {
                opt.selected = true;
            }
        });
    </script>
}
